.inputBlock {
    /*height: 80px;*/
    width: 100%;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 95%;
    max-height: 80px;
    padding: 10px;
    font-size: 16px;
    overflow-wrap: break-word;
    resize: none;
    border-top: 2px solid #ccc;
    border-right: 1px #888;
    border-bottom: 3px #555;
    border-left: 1px solid #cecccc;
    border-radius: 10px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-size: 18px;
}